<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
</head>
<body>
    <form method="post" action="/posts">
        <div ><input name="username"type="text" placeholder="Enter username"></div>
        <div ><h4>Content </h4> <input  name="content" type="content"></div>
        <button>Post</button>
    </form>
</body>
</html>